* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
}
/*card header*/

.card__header {
  color: #c5c3cf;
}
h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 0;
}
h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0;
}
h3 {
  color: #c5c3cf;
  font-size: 2rem;
  text-align: center;
}
p {
  font-size: 1.8rem;
}
.end-header-text {
  text-align: center;
  margin-bottom: 4.2rem;
}
.hundred {
  text-align: center;
  margin-top: 0;
}
.card {
  width: 100vw;
  height: 100vh;
}
.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background: linear-gradient(#6743ff, #312cea);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.circle {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: linear-gradient(#4c23c9, #4734f0);
}

/*card body*/

.card__body {
  padding: 0 3rem;
}
.text--bold {
  font-weight: bold;
}
.reaction {
  display: flex;
  justify-content: space-between;
  padding: 0 1.7rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background: #fff6f5;
}
.flex-1,
.flex-2 {
  display: flex;
  align-items: center;
}
.marks--eighty {
  margin-right: 5px;
}
.marks--hundred {
  color: #c5c3cf;
}
.reaction__text {
  margin-left: 10px;
  color: red;
}
.memory__text {
  margin-left: 10px;
  color: orange;
}
.verbal__text {
  margin-left: 10px;
  color: green;
}
.visual__text {
  margin-left: 10px;
  color: dodgerblue;
}

/*button*/

.btn {
  color: white;
  height: 5.5rem;
  font-size: 1.8rem;
  width: 100%;
  background: #303b59;
  border: none;
  border-radius: 40px;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .container {
    display:grid;
    grid-template-rows: 100vh;
    grid-template-columns: 36rem 36rem;
    border: 3px solid grey;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .card__header{
    border-radius: 30px;
    width:36rem;
  }
  .card__body{
    width:36rem;
    box-shadow: 10px 10px;
  }
  .end-header-text{
    padding: 0 6.4rem;
  }
  .btn{
    margin-top:4rem;
    margin-bottom: 4rem;
  }
  h1{
    font-size: 6rem;
    margin-top: 6rem;
  }
  .hundred{
    color: #c5c3cf;
  }
  h2{
    margin-top: 4rem;
  }
  .circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: linear-gradient(#4c23c9, #4734f0);
  }
}
